force-app/main/default/flows/Conditional_Visibility_On_Repeater_Component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>List_of_Contact</name>
        <label>List of Contact</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>listOfContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleContact</name>
        <label>SingleContact</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>createContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_contacts.lookup_to_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_contacts.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_contacts.Emails.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_contacts.Last_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_date_of_birth</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Contact</name>
        <label>update Contact</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>createContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_contacts.Birth_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_of_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_date_of_birth</name>
        <label>check for date of birth</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>List_of_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createContact.Birthdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_the_contacts.Birth_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Conditional Visibility On Repeater Component {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditional Visibility On Repeater Component</label>
    <loops>
        <name>Loop_through_the_contacts</name>
        <label>Loop through the contacts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Repeater_Component.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SingleContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_All_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_All_Contact</name>
        <label>create All Contact</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <inputReference>listOfContacts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_All_Account</name>
        <label>get All Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_the_contacts</targetReference>
        </connector>
        <fields>
            <name>Repeater_Component</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>First_Name</name>
                <dataType>String</dataType>
                <fieldText>First Name</fieldText>
                <fieldType>InputField</fieldType>
                <isDisabled>
                    <booleanValue>false</booleanValue>
                </isDisabled>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Last_Name</name>
                <dataType>String</dataType>
                <fieldText>Last Name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Emails</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>disabled</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>lookup_to_Account</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>AccountId</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Related Account</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>Want_to_share_your_birth_date</name>
                <dataType>Boolean</dataType>
                <fieldText>Want to share your birth date?</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Birth_Date</name>
                <dataType>Date</dataType>
                <fieldText>Birth Date</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Repeater_Component.AllItems[$EachItem].Want_to_share_your_birth_date</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_All_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>listOfContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
