force-app/main/default/flows/Customer_Onboarding_to_Company.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Product_Information</name>
        <label>Product Information</label>
        <locationX>176</locationX>
        <locationY>1308</locationY>
        <actionName>Contact.Customer_Onboarding</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Email</name>
        <label>Reminder Email</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <actionName>Contact.Customer_Onboarding</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Onboarding_Completion_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey_Email</name>
        <label>Send Survey Email</label>
        <locationX>264</locationX>
        <locationY>1008</locationY>
        <actionName>Contact.Customer_Onboarding</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Product_Information</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email</name>
        <label>Welcome Email</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>Contact.Customer_Onboarding</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Follow_Up_2_days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Customer Onboarding to Company {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Onboarding to Company</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Follow_Up_Call</name>
        <label>Follow-Up Call</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Follow_Up_5_days</targetReference>
        </connector>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-17</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <waits>
        <name>Follow_Up_2_days</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Follow-Up (2 days)</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Follow_Up_Call</targetReference>
            </connector>
            <label>el_0</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Follow_Up_5_days</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Follow-Up (5 days)</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Reminder_Email</targetReference>
            </connector>
            <label>el_1</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Follow_Up_7_days</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Follow-Up (7 days)</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Send_Survey_Email</targetReference>
            </connector>
            <label>el_2</label>
        </waitEvents>
    </waits>
    <waits>
        <name>New_Product_Information</name>
        <elementSubtype>WaitDate</elementSubtype>
        <label>New Product Information</label>
        <locationX>176</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Product_Information</targetReference>
            </connector>
            <label>el_3</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Onboarding_Completion_Check</name>
        <label>Onboarding Completion Check</label>
        <locationX>176</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Follow_Up_7_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incomplete Task</defaultConnectorLabel>
        <waitEvents>
            <name>Task_completion_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Product_Information</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Task completion Check</label>
        </waitEvents>
    </waits>
</Flow>
