force-app/main/default/flows/Mass_Delete_Button_On_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Failed_Deletions</name>
        <label>Failed Deletions</label>
        <locationX>668</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>failedRecordsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Messages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>failedRecordsCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Messages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Messages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formatted_Error_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Messages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>new_line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records_To_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Successful_Deletions</name>
        <label>Successful Deletions</label>
        <locationX>799</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>SuccessRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records_To_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Count</name>
        <label>Total Count</label>
        <locationX>426</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>TotalRecordsSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>failedRecordsCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalRecordsSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SuccessRecordCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deletion_Results</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Delete_Records</name>
        <label>Delete Records?</label>
        <locationX>134</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Records_To_Delete</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <formulas>
        <name>formatted_Error_Details</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(LEFT({!$Flow.FaultMessage}, FIND( &quot;. You can look up ExceptionCode&quot;, {!$Flow.FaultMessage})-1), &quot;The flow tried to delete these records:&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>new_line</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Mass Delete Button On Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Delete Button On Account</label>
    <loops>
        <name>Loop_Records_To_Delete</name>
        <label>Loop Records To Delete</label>
        <locationX>328</locationX>
        <locationY>68</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_the_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_the_records</name>
        <label>Delete the records</label>
        <locationX>628</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Successful_Deletions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_Deletions</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Records_To_Delete</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <screens>
        <description>The screen to check the confirm deletion of the records.</description>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>142</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Delete_Records</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Are you sure you want to delete these records?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;If not, select &lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;No&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; from the dropdown.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;If records deleted mistakenly, contact your administrator to restore the records.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select_an_option</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deletion_Results</name>
        <label>Deletion Results</label>
        <locationX>800</locationX>
        <locationY>291</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TotalCounts</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(41, 17, 102);&quot;&gt;{!TotalRecordsSelected} account records were selected for deletion.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Total_Success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(49, 147, 24);&quot;&gt;{!SuccessRecordCount} Records Deleted Successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessRecordCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deletion_Problems</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(202, 44, 81); font-size: 16px;&quot;&gt;{!failedRecordsCount} records could not be deleted. Report your System Administrator these details :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Error_Messages}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>failedRecordsCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>17</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Error_Messages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>failedRecordsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The collection of record ids from the listview to delete.</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalRecordsSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
