force-app/main/default/flows/Text_Translator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Translator</name>
        <label>Translator</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>TextTranslator.Translate Text</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>source_language</name>
            <value>
                <elementReference>From_Language</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>target_language</name>
            <value>
                <elementReference>To_Language</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Enter_Text</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>en</stringValue>
        </value>
    </choices>
    <choices>
        <name>French</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fr</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hindi</name>
        <choiceText>Hindi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>hi</stringValue>
        </value>
    </choices>
    <choices>
        <name>Italian</name>
        <choiceText>Italian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>it</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Response</name>
        <label>Response</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Response code other</defaultConnectorLabel>
        <rules>
            <name>Response_code_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Translator.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Translated_Text</targetReference>
            </connector>
            <label>Response code Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Text Translator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Text Translator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Translator.defaultExc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Text_Translator</name>
        <label>Text Translator</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Translator</targetReference>
        </connector>
        <fields>
            <name>From_Language</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>Hindi</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>From Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Text</name>
            <dataType>String</dataType>
            <fieldText>Enter Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To_Language</name>
            <choiceReferences>Hindi</choiceReferences>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>French</choiceReferences>
            <choiceReferences>Italian</choiceReferences>
            <dataType>String</dataType>
            <fieldText>To Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Translate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Translated_Text</name>
        <label>Translated Text</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OutputText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Translator.2XX.data.translatedText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Text_Translator</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
